*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #182343;
}

#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 120px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border: 3px solid #4d5e79;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#gameName{
    color: snow;
    font-size: 25px;
    font-weight: 900;
}

#score{
    width: 100px;
    height: 90%;
    color: #575369;
    background-color: snow;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#score p{
    font-size: 17px;
    width: 100%;
    text-align: center;
}

#scoreNumber{
    margin-top: 10px;
    font-size: 900;
    font-size: 25px !important;
}

#panelChose{
    background: no-repeat;
    background-position: center;
    background-image: url(./img/bg-triangle.svg);
    width: 330px;
    height: 270px;
    margin: auto;
    margin-top: 70px;
}

#panelChose img{
    cursor: pointer;
    background-color: snow;
    padding: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#paper , #scissore{
    display: inline;
    position: relative;
    top: -30px;
}

#paper img{
    box-shadow: 2px 7px 0px 3px #c16a1c;
    border: 14px solid #eca21a;
}

#scissore img{
    float: right;
    box-shadow: 2px 7px 0px 3px #1c3ad0;
    border: 14px solid #546ef4;
}

#rock img{
    position: relative;
    top: 80px;
    left: 120px;
    box-shadow: 2px 7px 0px 3px #a3214c;
    border: 14px solid #db3f59;
}

#discription{
    padding: 10px;
    border: 2px solid #4d5e79;
    margin-right: 20px;
    float: right;
    color: snow;
    cursor: pointer;
    margin-top: 7%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 20px;
}

#resultDiv{
    display: none;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    color: snow;
    font-size: 22px;
    font-weight: 700;
}

#resultDiv img{
    background-color: snow;
    padding: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#you{
    box-shadow: 2px 7px 0px 3px #123524;
    border: 14px solid #3E7B27;
}

#but{
    box-shadow: 2px 7px 0px 3px #659287;
    border: 14px solid #78B3CE;
}

#resultDiv button{
    background-color: snow;
    padding: 17px;
    width: 180px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#rulsDiv{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#rulsDiv img{
    z-index: 2;
    width: 400px;
    padding: 14px;
    margin-bottom: -680px;
    margin-top: 10px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
}

@media screen and (max-width: 1100px) {
    #head{
        width: 70%;
    }

    #discription{
        margin-top: 25%;
    }
}

@media screen and (max-width: 480px) {
    #head{
        width: 90%;
    }
    #panelChose{
        width: 300px;
    }

    #rock img{
        left: 100px;
    }
}

